{:paths ["src"]

 :deps {io.github.casselc/db
        {:git/url "https://github.com/casselc/db.git"
         :git/sha "0c559d78d839f2f9c8cc1a7326a639134134bfac"}
        io.github.casselc/otel
        {:git/url "https://github.com/casselc/otel.git"
         :git/sha "a9badb98a86d4e0aa207aa0609da03dc8e4c087f"}}

 :aliases {:test {:extra-paths ["test"]
                  :main-opts ["-m" "otel.instrumentation.db-test-runner"]}}

 :tasks {test "jolt -M:test"}}
